@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.calculator{
  padding-top: 120px;
  width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
}
button{
  font-family: 'Roboto',sans-serif;
  border: none;
  background-color: #ececec;
  height: 65px;
  width: 65px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
button:hover,:focus{
  background-color: #e7cece;
}

.input-field{
  padding: 0;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  width: 230px;
  outline:none;
  font-size: 40px;
  text-align: right;
}
.button-operation{
  background-color: #bfece8;
}
.button-equals{
  width: 126px;
  background-color: #29afa3;
  color: white;
}